body{
    font-family: 'Josefin Sans';
}
#pageContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100vw;
    height: 100vw;
}
#paintContainer{
    grid-area: 2/2/5/5;
}
#topTitle{
    color: white;
    Text-align: center;
    grid-area:1/1/2/5;
}
#sizeControls{
    grid-area:2/1/5/2;
}
#clearControls{
    grid-area:5/1/8/2;
}
#topTitle, #sizeControls, #clearControls {
    background-color: black;
}

